#kinto_url {
	width: 70%;
	max-width: 40em;
}

.info {
	background: #fbfbff;
	padding: 0.5em 1.5em 0.5em 2em;
	text-align: justify;
	margin-bottom: 1.5em;
	border: solid 1px #f0f0f0;
    position: relative;
    overflow: hidden;
}

.info::before {
    content: "?";
    display: inline;
    position: absolute;
    font-size: 7em;
    left: -0.15em;
    top:-0.4em;
    color: lightsteelblue;
}

.info-text {
	color: darkgray;
	font-style: italic;
}

.hide {
	display:none;
}

.placeholder {
	color: lightgray;
	font-weight: bold;
}